@mixin checkbox_default_() {
  $component: "ark-checkbox";

  #{$component} {
    display: flex;
    cursor: pointer;
    user-select: none;
  }

  .#{$component} {
    &__input {
      margin: 0 5px;
    }
  }
}