@mixin checkbox_default_() {
  $component: "ark-checkbox";

  #{$component} {
    display: flex;

    cursor: pointer;
    user-select: none;

    margin: 5px 0;
    padding: 5px 0;
  }

  .#{$component} {
    &__input {
      margin: 0 5px;
    }
  }
}