@import "@material/floating-label/mdc-floating-label.scss";
@import "@material/form-field/mdc-form-field.scss";
@import "@material/textfield/mdc-text-field.scss";

@mixin input_material_() {
  @include mdc-form-field-core-styles;
  $component: "ark-input";

  #{$component} {
    @extend .mdc-text-field;

    padding-bottom: 0.5rem;
  }

  .#{$component} {
    &__label {
      @extend .mdc-floating-label;
      position: initial;

      small {
        font-size: small;
        font-weight: 400;

        position: relative;
        bottom: -0.1rem;
      }
    }

    &__input {
      input {
        @extend .mdc-text-field__input;

        position: initial;

        padding: 0;
        padding-bottom: 0.4rem;

        margin: 0;
      }
    }
  }
}
