@mixin input_material_() {
  $component: "ark-input";

  #{$component} {
    border-bottom: 1px solid;
    border-color: inherit;
  }

  .#{$component} {
    &__input {
      input {
        border: 0px;

        &:focus {
          outline: 0;
        }
      }
    }
  }
}
