// @import '../../../../theme/_variables.scss';

@mixin tabs-item_ark_() {
  $component: "ark-tabs-item";
  $desktop: "960px";

  #{$component} {
    min-width: fit-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button,
    a {
      border: none;
      background: none;
      cursor: pointer;
      width: 100%;
      height: 100%;
      padding: 10px;

      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      cursor: pointer;

      &>:not(:first-child) {
        margin-left: 5px;
      }

      &:hover {
        background: rgba($color: $muted, $alpha: .2);
        border-bottom: 3px solid rgba(0, 0, 0, 0.5);
      }

      @media only screen and (min-width: $desktop) {}
    }


    ark-icon {
      font-size: 24px;
    }

    &[active]>* {
      color: $primary !important;
      border-bottom: 3px solid $primary;
    }
  }
}