@mixin tabs-item_ark_() {
  $component: "ark-tabs-item";
  $desktop: "960px";

  #{$component} {
    &[active] > * {
      color: $primary !important;
      border: 3px solid $primary !important;
    }
  }
}
