@use './config'as *;
@use '../../../base/theme';

@mixin ark-gallery() {
  background: transparent;
  display: grid;
  grid-gap:0.8rem;
  justify-items: center;
  align-content: center;
  grid-template-columns: 1fr 4fr;

  width:100%;

  &__thumbnails{
    height: 320px;
    width: 100px;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    
    align-self: center;
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 0.8rem;

    list-style: none;

    &::-webkit-scrollbar{
      width: 10px;
      border-radius: 4px;
      background-color:rgba(89, 34, 114, 0.137);
    }
    &::-webkit-scrollbar-thumb{
      background-color:white;
      border: 1px solid gray;
      border-radius: 4px;
    }
  }

  &__thumbnail{
    div{
      user-select: none;

      width:50px;
      height:50px;
      background-repeat: no-repeat;
      background-size: cover;

      border: 1px solid rgb(189, 189, 189);
      border-radius: 5px;
      transition: all 0.15s ease-in-out;
      &:hover{
        transform: scale(1.05);
        cursor: pointer;
        box-shadow: -3px 4px 15px -4px rgba(120, 10, 255, 0.71);
      }
    }
  }

  &__image{
    display:flex;
    align-items: center;
    user-select: none;
    background: transparent;
    padding: 0.5rem;
  }

}