@mixin item_default_() {
  $component: "ark-list-item";

  #{$component} {
    &[click-disabled] {
      &:hover,
      &:focus,
      &:active,
      &::after,
      &::before {
        background-color: transparent !important;
        background: transparent !important;
        cursor: default !important;
      }
    }
  }
}
