@mixin alert_default_() {
  $component: "ark-alert";

  #{$component} {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 4096;

    display: flex;

    // hidden
    &[hidden] {
      display: none !important;
    }

    // horizontal
    &[horizontal~="center"] {
      justify-content: center;
    }

    &[horizontal~="start"] {
      justify-content: start;
    }

    &[horizontal~="end"] {
      justify-content: flex-end;
    }

    // vertical
    &[vertical~="center"] {
      align-items: center;
    }

    &[vertical~="start"] {
      align-items: start;
    }

    &[vertical~="end"] {
      align-items: flex-end;
    }
  }

  .#{$component} {
    &__content {
      z-index: inherit;
      background: $background;

      width: fit-content;
      height: fit-content;

      padding: 1rem;
      margin: 0.5rem;

      max-width: calc(100vw - 3rem);
      max-height: calc(100vh - 3rem);

      overflow: hidden;
    }

    &__header {
      overflow: hidden;
    }

    &__actions {
      display: flex;
      flex-flow: wrap;
      justify-content: flex-end;

      &>* {
        margin: 0.3rem;
      }
    }

    &__scrim {
      background: rgba($color: $dark, $alpha: 0.5);
      width: inherit;
      height: inherit;
      position: inherit;
      top: inherit;
      left: inherit;
    }
  }
}