@use '../../../base/theme';
@use './config'as *;

@mixin ark-radio() {

    &-group {
        @include theme.paint;

        user-select: none;
        width: 100%;
        height: fit-content;

        &__list {
            color: var(--primary, black)
        }

        &__label {
            font-size: 1.2;
            margin: 0;
            padding: 5px;
            background: inherit;
        }

    }


    &-button {
        @include theme.paint;
        cursor: pointer;
        display: flex;
        user-select: none;

        &__button {
            margin: 0 5px;

            input[type=radio] {
                width: 20px;
                height: 20px;
            }
        }
    }

}