@mixin accordion_tab_default_() {
  $component: "ark-accordion-tab";

  #{$component} {
    user-select: none;
    background: $background;

    &[disabled] {
      pointer-events: none;

      .#{$component} {
        &__btn-header {
          color: gray !important;
          background: rgba($color: gray, $alpha: 0.1) !important;
        }
      }
    }
  }

  .#{$component} {
    &__btn-header {
      width: auto;
      height: 2.5rem;

      text-align: left;
      padding-left: 10px;

      cursor: pointer;

      display: flex;
      align-items: center;

      user-select: none;

      small {
        all: unset;
      }
    }

    &__content {
      display: none;
    }

    [active] &__content {
      display: block;
    }
  }
}