@use '../../../base/theme';
@use './config'as *;

@mixin ark-card() {
  @include theme.paint;

  display: block;
  border: 1px solid rgba($color: gray, $alpha: 0.2);
  overflow: hidden;

  &[no-border] {
    border: 0;
    border-radius: 0;
    box-shadow: initial;
  }

  &__media {
    display: flex;
    overflow: hidden;
    max-height: 20rem;
    user-select: none;

    img {
      width: 100%;
    }
  }

  &__header,
  &__body,
  &__actions {
    padding: 0.5rem;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.0125em;
    text-decoration: inherit;
    text-transform: inherit;
  }

  &__subtitle {
    font-size: 0.875rem;
    line-height: 1.25 rem;
    font-weight: 400;
    letter-spacing: 0.0125em;
    text-decoration: inherit;
    text-transform: inherit;
  }

  &__body {}

  &__actions {
    display: flex;
    justify-content: flex-end;
  }
}
