@import "@material/dialog/mdc-dialog.scss";

@mixin modal_material_() {
  $component: "ark-modal";

  #{$component} {
    @extend .mdc-dialog;
    @extend .mdc-dialog--open;
  }

  .#{$component} {
    &__content {
      @extend .mdc-dialog__container;
      @extend .mdc-dialog__surface;

      & > * {
        width: 100%;
        padding: 1rem;
      }
    }

    &__header {
    }

    &__body {
    }

    &__actions {
    }
  }
}
