@mixin drop_default_() {
  $component: "ark-zone-drop";

  #{$component} {
    display: block;

    height: 100%;
    width: 100%;

    max-height: initial;
    max-width: initial;

    margin: 0;
    padding: 0;

    overflow: auto;

    &[direction~="column"] {
      display: flex;
      flex-direction: column;
    }

    &[direction~="row"] {
      display: flex;
      flex-direction: row;
    }

    &[selected] {
      background: rgba($color: $muted, $alpha: .3);
    }
  }

  .#{$component} {
    &--hover {
      background: rgba($color: $muted, $alpha: .3);
    }

    &--hover_disabled {
      filter: contrast(0.5);
    }
  }
}