@import "@material/button/mdc-button.scss";
@import "@material/fab/mdc-fab";

@mixin button_material_() {
  $component: "ark-button";

  #{$component} {
    // width: inherit;
    // height: 36px;
    // color: inherit;
    border-radius: 5px;

    @extend .mdc-button__label;
    @extend .mdc-button;

    text-transform: initial;

    &[fab] {
      @extend .mdc-fab;
    }
  }
}