@import "@material/button/mdc-button.scss";
@import "@material/fab/mdc-fab";

@mixin button_material_() {
  $component: "ark-button";
  $fab-size: 56px !important;

  #{$component} {
    width: inherit;
    color: inherit;

    button,
    a {
      @extend .mdc-button;
      @extend .mdc-button__label;

      color: inherit !important;
      width: inherit;


      &[fab] {
        @extend .mdc-fab;

        width: $fab-size;
        height: $fab-size;

        min-width: $fab-size;
        min-height: $fab-size;
      }

      &[disabled] {
        cursor: default !important;
        color: gray !important;
        background: rgba($color: gray, $alpha: .1) !important;

        &:hover {
          background: none !important;
        }
      }
    }

    // ----------------------------------------
    // position
    // ----------------------------------------
    [horizontal],
    [vertical] {
      position: fixed;
    }

    // ----------------------------------------
    // horizontal
    // ----------------------------------------
    [horizontal~="center"] {
      left: calc(50% - (#{$fab-size} / 2));
    }

    [horizontal~="start"] {
      left: calc((#{$fab-size} / 3));
    }

    [horizontal~="end"] {
      right: calc((#{$fab-size} / 3));
    }

    // ----------------------------------------
    // vertical
    // ----------------------------------------
    [vertical~="center"] {
      top: calc(50% - (#{$fab-size} / 2));
    }

    [vertical~="start"] {
      top: calc((#{$fab-size} / 2));
    }

    [vertical~="end"] {
      bottom: calc((#{$fab-size} / 2));
    }
  }
}