@import "@material/button/mdc-button.scss";
@import "@material/fab/mdc-fab";

@mixin button_material_() {
  $component: "ark-button";

  #{$component} {
    // width: inherit;
    height: 36px;
    color: inherit;

    button,
    a {
      @extend .mdc-button;
      @extend .mdc-button__label;
      padding: 0 8px;

    }

    &[fab] {
      @extend .mdc-fab;
    }
  }
}