@use 'base/theme';
@use './config'as *;


@mixin ark-list() {
    @include theme.paint;
    display: flex;
    flex-direction: column;

    &-item {
        &:not(:last-child) {
            border-bottom: 1px solid rgb(192, 192, 192);
        }

        &[click-disabled] {
            cursor: default;
        }
    }

    &[action] {
        .ark-list-item {
            padding: 1rem;
            cursor: pointer;
        }
    }

    &[grid] {
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        justify-content: space-around;
    }
}