@use '../../../base/theme';
@use './config'as *;

@mixin ark-list() {
  @include theme.paint();

  display: grid;
  user-select: none;

  &-item {
    padding: 5px;

    &[click-disabled] {
      cursor: default;
    }
  }

  &[action] {
    .ark-list-item {
      padding: 1rem;
      cursor: pointer;
    }
  }
}

.ark-list {
  @include ark-list;
}
