@use '@material/theme/theme';
@use '@material/typography/typography';
@use '@material/feature-targeting/feature-targeting';
@use '@material/list/variables';
@use '@material/list/mixins';

@use'./shared.scss';

$query: feature-targeting.all();
$feat-color: feature-targeting.create-target($query, color);
$feat-structure: feature-targeting.create-target($query, structure);
$feat-typography: feature-targeting.create-target($query, typography);

.ark-list {
    @include shared.ark-list;
    @include typography.typography(subtitle1, $query);

    @include feature-targeting.targets($feat-structure) {
        margin: 0;
        padding: 8px 0;
        list-style-type: none;

        &:focus {
            outline: none;
        }

    }

    &-item {
        //@include mixins.item-base_;
        //@include theme.prop(color, rgb(28, 58, 78));

        &:hover {
            @include theme.prop(background, rgb(230, 232, 255));
            @include theme.prop(color, rgb(28, 58, 78));
        }
    }




}