@import "../../../theme/_variables.scss";

@mixin item_ark_() {
  $component: "ark-list-item";

  #{$component} {
    justify-content: space-between;
    cursor: pointer;

    &:active {
      background: rgba($color: $muted, $alpha: 0.3);
    }
  }

  #{$component},
  .general,
  .end {
    display: inline-flex;

    &>:not(:first-child) {
      margin-left: 5px;
    }
  }
}