@use '../../../base/theme';
@use './config'as *;

@mixin ark-sidebar() {
  display: none;
  z-index: 4096;

  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  user-select: none;

  &__menu {
    min-width: 280px;
    height: 100%;

    display: grid;
    grid-template-rows: 0.15fr 1fr 0.15fr;
    position: absolute;

    &[side="left"] {
      left: 0;
    }

    &[side="right"] {
      right: 0;
    }

    @include theme.paint;
  }

  &__body {
    overflow-y: scroll;
    height: 100%;
  }

  &__header,
  &__footer {
    padding: 15px;
  }

  &__header {
    border-bottom: $border;
  }

  &__footer {
    border-top: $border;
  }

  &__scrim {
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.3);
  }

  &[opened] {
    display: block;
  }
}
