@use '../../../base/theme';
@use './config'as *;

@mixin ark-sidebar() {
  display: none;
  z-index: 4096;

  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  user-select: none;

  $compact-width: 30%;
  $normal-width: 45%;
  $wide-width: 60%;

  &__menu {
    min-width: 280px;
    width: $wide-width;
    height: 100%;

    display: grid;
    grid-template-rows: 0.15fr 1fr 0.15fr;
    position: absolute;

    &[side="left"] {
      left: 0;
    }

    &[side="right"] {
      right: 0;
    }

    @include theme.paint;
  }

  /*Dynamic Width*/

  &[width="compact"] {
    .ark-sidebar__menu {
      width: $compact-width;
    }
  }

  &[width="normal"] {
    .ark-sidebar__menu {
      width: $normal-width;
    }
  }

  &[width="wide"] {
    .ark-sidebar__menu {
      width: $wide-width;
    }
  }

  &__body {
    display: grid;
    overflow-y: auto;
    height: 100%;
  }

  &[gap] {
    .ark-sidebar__body {
      grid-gap: 1rem;
    }
  }

  &[padded] {
    .ark-sidebar__body {
      padding: 1rem;
    }
  }

  &__header,
  &__footer {
    padding: 15px;
  }

  &__header {
    border-bottom: $border;
  }

  &__footer {
    border-top: $border;
  }

  &__scrim {
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.3);
  }

  &[opened] {
    display: block;
  }
}