@use '@material/feature-targeting/feature-targeting';
@use '@material/animation/variables' as animation-variables;
@use '@material/rtl/mixins' as rtl-mixins;
@use '@material/drawer/variables';
@use '@material/drawer/mixins';
@use'./shared.scss';

$query: feature-targeting.all();

$feat-animation: feature-targeting.create-target($query, animation);
$feat-structure: feature-targeting.create-target($query, structure);

.ark-sidebar {
  @include shared.ark-sidebar;

  &__menu {
    @include mixins.border-color(variables.$divider-color, $query: $query);
    @include mixins.shape-radius(variables.$shape-radius, $query: $query);
    @include mixins.item-shape-radius(
      variables.$item-shape-radius, $query: $query);
    @include mixins.z-index(variables.$z-index, $query: $query);
    @include mixins.width(variables.$width, $query: $query);

    @include feature-targeting.targets($feat-structure) {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      height: 100%;
      /* @noflip */
      border-right-width: 1px;
      /* @noflip */
      border-right-style: solid;
      overflow: hidden;

      @include rtl-mixins.rtl {
        /* @noflip */
        border-right-width: 0;
        /* @noflip */
        border-left-width: 1px;
        /* @noflip */
        border-right-style: none;
        /* @noflip */
        border-left-style: solid;
      }
    }

    @include feature-targeting.targets($feat-animation) {
      transition-property: transform;
      transition-timing-function: animation-variables.$standard-curve-timing-function;
    }

    @include mixins.list-item_($query);
  }

  &__header {
    @include feature-targeting.targets($feat-structure) {
      flex-shrink: 0;
      box-sizing: border-box;
      min-height: 64px;
      padding: 0 variables.$surface-padding 4px;
    }
  }

  &__body {
    @include feature-targeting.targets($feat-structure) {
      height: 100%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  &__footer {
    @include feature-targeting.targets($feat-structure) {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0 variables.$surface-padding 4px;
    }
  }
}
