@mixin input() {
  .ark-input {
    display: block;
    height: fit-content;
    outline: none;

    &[disabled] {
      pointer-events: none !important;
      cursor: default !important;

      color: $muted !important;
      background: rgba($color: $muted, $alpha: 0.1) !important;

      &:hover {
        background: none !important;
      }
    }

    &__label {
      display: block;
      text-overflow: ellipsis;
    }

    &__input {
      display: block;
      width: 100%;
    }

    &[inline] label {
      display: flex;
      white-space: nowrap;

      input {
        display: initial;
        margin-left: 0.5rem;
      }
    }
  }
}
