@use './config'as *;
@use '../../../base/theme';

@mixin ark-input() {
    @include theme.paint();
    background: transparent;

    &[disabled] {
        pointer-events: none !important;
        cursor: default !important;

        &>.ark-input__input {
            background: rgb(255, 255, 255);
        }

        &:hover {
            background: white;
        }
    }

    &__label {
        display: block;
        text-overflow: ellipsis;
    }

    &__input {
        display: block;
        max-width: 100%;
        padding: 0.5rem;
        border: 2px solid rgb(175, 175, 175);

        &:focus {
            //background-color: rgb(243, 248, 255);
            //border: 2px solid rgb(67, 123, 255);
            //outline: none;
        }

        &:hover {
            //border: 2px solid rgb(67, 123, 255);
            //background-color: rgb(255, 255, 255);
        }
    }

    &[inline] label {
        display: flex;
        white-space: nowrap;
        align-items: center;

        input {
            display: initial;
            margin-left: 0.5rem;
        }
    }
}