@use './config'as *;
@use '../../../base/theme';
@use '../../../base/theme/variables';

@mixin ark-input() {
    padding: 10px;

    &[disabled] {
        pointer-events: none;
        cursor: default;

        label {
            input:disabled {
                background-color: rgb(243, 240, 240);
                border-color: rgba(185, 185, 185, 0.712);
            }

        }
    }

    &__label {
        display: block;
        text-overflow: ellipsis;
        user-select: none;
    }

    &__input {
        @include theme.round;
        display: block;
        width: 100%;
        padding: 0.5rem;
        border: 2px solid black;

        @each $color in variables.$colors {
            &[background=#{$color}] {
                background: var(--#{$color}, black);
                color: white;
            }

            &[border-color=#{$color}] {
                @if $color==primary {

                    &:focus,
                    &:hover {
                        border-color: var(--dark);
                    }

                }

                border-color: var(--#{$color}, white);
            }

            &[color=#{$color}] {
                color: var(--#{$color}, white);
            }
        }

    }

    &[inline] label {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 0.1fr 1fr;
        white-space: nowrap;
        align-items: center;
        width: 100%;

        input {
            display: initial;
            margin-left: 0.5rem;
        }
    }
}

.ark-input {
  @include ark-input;

  &__input{
    padding: 0.8rem;
    border:2px solid rgb(170, 167, 167);
    outline: none;

    &:focus,&:hover {
      box-shadow: 0 0 3pt 1pt rgba(blue, 0.4);
      outline: none;
    }

  }
}
