@use '@material/floating-label/mixins'as floating-label-mixins;
@use '@material/floating-label/variables'as floating-label-variables;
@use '@material/theme/theme';
@use "@material/shape";
@use '@material/feature-targeting/feature-targeting';

@use "@material/textfield/mixins";
@use "@material/textfield/variables";

@use'./shared.scss';

//*VARIABLES
$query: feature-targeting.all();
$feat-structure: feature-targeting.create-target($query, structure);
$feat-color: feature-targeting.create-target($query, color);
//*-----------

.ark-input {

  @include shared.ark-input;


  display: inline-flex;
  align-items: baseline;
  position: relative;
  box-sizing: border-box;
  /* @alternate */
  will-change: opacity, transform, error;



  &__input {
    @include shape.radius(4px, false);

    @include feature-targeting.targets($feat-structure) {
      text-align: left;
    }

    &:focus {
      @include theme.prop(border-color, var(--primary));
      outline: none;
    }

    &:hover {
      @include theme.prop(border-color, var(--primary));
    }
  }

  &__label {
    font-size: 1.1rem;
  }


}
