@mixin camera_default_() {
  $component: "ark-camera";

  #{$component} {
    display: flex;
    width: fit-content;
    height: fit-content;
    overflow: hidden;

    [data-canvas] {
      display: none;
    }
  }
}