@mixin icon_default() {
  $component: "ark-icon";

  #{$component} {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;

    user-select: none;

    i {
      all: unset;
      font-size: inherit !important;

      display: flex !important;
      justify-content: center;
      align-items: center;

      width: fit-content;
      height: fit-content;

      &::before,
      &::after {
        all: unset;
      }
    }
  }
}