@mixin card_default_() {
  $component: "ark-card";

  #{$component} {
    display: block;
    border: 1px solid rgba($color: $muted, $alpha: 0.2);
    background: $background;
    overflow: hidden;
  }

  .#{$component} {
    &__media {
      display: flex;
      overflow: hidden;
      max-height: 20rem;

      img {
        width: 100%;
      }
    }

    &__header,
    &__body,
    &__actions {
      padding: 0.5rem;
    }

    &__header {
    }

    &__body {
    }

    &__actions {
      display: flex;
      justify-content: flex-end;
    }
  }
}
