@use './config';
@use '../../../base/theme';

@mixin ark-select() {
    @include theme.paint;

    display: grid;

    &--label {
        padding: 5px;
        font-weight: 700;
    }


    &[disabled] {
        pointer-events: none;
        cursor: default;

        color: var(--muted, grey);
        background: rgba(var(--muted), $alpha: 0.1);

        &:hover {
            background: none;
        }
    }

    select {
        font-size: initial;
        color: inherit;
        background: inherit;
        border-color: initial;
        padding: 5px;
        margin: 5px;

        &:focus {
            outline: 1px solid var(--primary);
        }

        &:hover {
            outline: 1px solid var(--primary);
        }
    }

    select,
    option {
        cursor: pointer;
    }

    &::before,
    &::after {
        all: unset;
    }

}