<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Componark - Components</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet"href="https://unpkg.com/@knowark/styleark@0.6.1/dist/styles.min.css">
    <script type="importmap">
    {
      "imports": {
        "@knowark/componarkjs": "https://unpkg.com/@knowark/componarkjs@1.13.3/lib/index.js"
      }
    }
    </script>
    <style>
      :root {
        --secondary: #00ffff;
        --primary: #001e3d;
        font-family: "Roboto";
      }

      html, body {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <app-root style="height:100%;;"></app-root>
    <script type="module">
      import { Component, html } from '@knowark/componarkjs'

      const tag = 'app-root'
      class RootComponent extends Component {
        render () {
          this.content = html`
          <nav style="background:var(--primary); --padding:4; --height:4">
            <a href="/" style="text-decoration:none; color:white">COMPONARK</a>
          </nav>
          <main style="height:calc(100% - (var(--height-step) * 4));
          --grid: auto-flow / 1fr 5fr">
            <aside id="menu" style="--flow:row; overflow:auto"
              listen on-click="onMenuItem">
              ${[
                { component: 'audio' },
                { component: 'camera' },
                //{ component: 'capture' },
                //{ component: 'droparea' },
                //{ component: 'emit' },
                { component: 'list' },
                { component: 'paginator' },
                { component: 'splitview' },
                { component: 'translate' },
              ].map(item => html`
              <button style="height:100%; width:100%; font-weight:bold;
              text-align:center; text-transform:capitalize; cursor:pointer;
              --all:unset; --background-hover:var(--primary);
              --color-hover:var(--light);">
                ${item.component}
              </button>
              `).join('\n')}
            </aside>
            <article id="content" style="background:var(--muted); --padding:4">
            </article>
          </main>
          `
          return super.render()
        }

        async onMenuItem (event) {
          const component = event.target.textContent.trim()
          const file = `./demos/${component}.js`
          const module = await import(file)
          this.querySelector('#content').innerHTML = `
            <demo-${component}></demo-${component}>
          `
        }
      }
      Component.define(tag, RootComponent)
    </script>
  </body>
</html>
