@use '../../../base/theme';
@use './config'as *;

@mixin ark-chart() {
  @include theme.paint;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background: var(--light);

  canvas {
    max-width: -webkit-fill-available;
    padding: 5px;
    position: relative;
  }
}