@mixin treetable_default_() {
  $component: "ark-treetable";

  #{$component} {
    display: block;

    table {
      width: 100%;

      tbody {
        cursor: pointer;

        tr {
          &[active] {
            display: table-row !important;
          }

          &:not(:first-child) {
            display: none;
          }

          &:hover {
            background: rgba($color: $primary, $alpha: 0.3);
          }

          &:focus {
            outline: 1px solid rgba($color: #000000, $alpha: 0.5);
          }
        }
      }
    }
  }
}
