@mixin nav_default_() {
  $component: "ark-nav";

  #{$component} {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    overflow: hidden;

    & > * {
      margin: 0 0.1rem;
    }
  }
}
