@mixin nav_default_() {
  $component: "ark-nav";

  #{$component} {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;

    height: 3rem;
    min-height: 3rem;

    overflow: hidden;

    &>* {
      margin: 0.1rem;
    }
  }
}