@mixin navbar_default_() {
  $component: "ark-navbar";
  $desktop: "960px";

  #{$component} {
    width: initial;
    max-width: initial;
    min-height: 3rem;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "brand toggler";

    padding: 0 0.3rem;

    ark-nav {
      grid-column: 1 / 3;
      justify-content: end;

      &[brand] {
        grid-area: brand;
        justify-content: end;
      }

      &[toggler] {
        grid-area: toggler;
        justify-content: flex-end;
      }

      &[collapse] {
        display: none;
      }
    }

    &[justify~="center"] {
      justify-content: center;
    }

    &[justify~="end"] {
      justify-content: flex-end;
    }

    &[justify~="between"] {
      justify-content: space-between;
    }

    &[fixed-top] {
      position: fixed;
      top: 0;
      left: 0;

      width: 100%;
      max-width: 100vw;
    }

    @media only screen and (min-width: $desktop) {
      display: flex;

      [navbar-toggler] {
        display: none;
      }

      ark-nav {
        &[collapse] {
          display: flex !important;
        }
      }
    }
  }
}
