@use '../../../base/theme';
@use './config'as *;

@mixin ark-audio() {
  @include theme.paint;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  overflow: hidden;

  border-radius: 5px;

  padding: 0 0.5rem;
  user-select: none;

  ark-button {
    border: 0;
    outline: 0;
    background: transparent;

    text-align: center;

    margin: 0;
    padding: 0;

  }

  &__recording {
    label {
      font-weight: 700;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
    height: 3rem;
  }


  &__timer {
    display: flex;
    background: var(--light);
    color: var(--dark);
    justify-content: center;
    align-items: center;
    padding: 0.8rem 0.5rem;
  }

  &__idle {
    display: flex;
  }

  &__done {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}