@use'./shared.scss';

.ark-audio {
  @include shared.ark-audio;
  background: white;
  border: 2px solid rgba(190, 189, 189, 0.856);
  min-width:150px;

  &:hover{
      border:2px solid var(--primary);
  }

  ark-button {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  &__idle {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
