@mixin map_default_() {
  $component: "ark-map";

  #{$component} {
    display: block;
    position: relative;

    height: 100%;
    width: 100%;

    max-width: inherit;
    max-height: inherit;

    .map {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      height: 100%;
      width: 100%;
    }
  }
}