@mixin map_default_() {
  $component: "ark-map";

  #{$component} {
    display: grid;
    height: 400px;
    width: 400px;

    .map {
      display: grid;
      height: 100%;
      width: 100%;
    }
  }
}
