@use '../../../base/theme';
@use '../../../base/theme/variables';
@use './config'as *;

@mixin ark-modal() {

  display: none;
  position: fixed;
  z-index: 10;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;


  &__content {
    @include theme.paint;

    display: flex;
    position: relative;
    left: 0;
    flex-direction: column;
    z-index: inherit;

    max-width: calc(100vw - 3vmin);
    max-height: calc(100vh - 3vmin);

    overflow: hidden;

  }

  // show
  &[show] {
    display: flex;
  }

  &__scrim {
    background: rgba($color: black, $alpha: 0.5);
    position: inherit;
    width: inherit;
    height: inherit;
    top: inherit;
    left: inherit;
  }

  // horizontal
  &[horizontal~="center"] {
    justify-content: center;
  }

  &[horizontal~="start"] {
    justify-content: start;
  }

  &[horizontal~="end"] {
    justify-content: flex-end;
  }

  // vertical
  &[vertical~="center"] {
    align-items: center;
  }

  &[vertical~="start"] {
    align-items: start;
  }

  &[vertical~="end"] {
    align-items: flex-end;
  }


  &__header {
    display: flex;
    flex-direction: column;
    user-select: none;
    padding: 0.5rem;
  }

  &__body {
    overflow: auto;
  }

  &__actions {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    padding: 0.3rem;
    gap: 0.1rem;
  }
}