@use './config';
@use '../../../base/theme';

@mixin ark-switch() {
    --switch-width: 3.6em;
    --switch-height: 1.8em;
    --switch-padding: .2em;
    --switch-bgcolor-on: #29f;
    --switch-bgcolor-off: #ccc;
    --switch-bgcolor-disabled-on: #666;
    --switch-bgcolor-disabled-off: #666;
    --switch-ball-color: #fff;
    --switch-animation-duration: .5s;
    --switch-outline-mouse-focus: none;
    position: relative;
    display: inline-block;
    min-width: var(--switch-width);
    min-height: var(--switch-height);


    &__slider {
        @include theme.paint;
        --switch-bgcolor: var(--switch-bgcolor-off);
        border-radius: var(--switch-height);
        position: absolute;
        inset: 0;
        background: var(--switch-bgcolor);
        transition: background var(--switch-animation-duration);

        &::before {
            --switch-ball-diameter: calc(var(--switch-height) - var(--switch-padding) * 2);
            --switch-ball-transform: translateX(0);
            border-radius: 50%;
            content: "";
            width: var(--switch-ball-diameter);
            height: var(--switch-ball-diameter);
            position: absolute;
            inset: var(--switch-padding);
            background: var(--switch-ball-color);
            transform: var(--switch-ball-transform);
            transition: transform var(--switch-animation-duration);
        }
    }

    @supports not (inset: 0) {
        &__slider {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }


    @supports not (inset: 0) {
        &__slider::before {
            top: var(--switch-padding);
            left: var(--switch-padding);
        }
    }

    &__slider[checked] {
        --switch-bgcolor: var(--switch-bgcolor-on);
    }

    &__slider[checked]::before {
        --switch-ball-transform: translateX(calc(var(--switch-width) - var(--switch-height)));
    }

    &__slider[disabled] {
        --switch-bgcolor: var(--switch-bgcolor-disabled-off);
    }

    &__slider[disabled][checked] {
        --switch-bgcolor: var(--switch-bgcolor-disabled-on);
    }
}