@mixin select_default() {
	$component: 'ark-select';

	#{$component} {
		display: inline-grid;
		min-height: 2rem;

		color: inherit !important;
		background: inherit !important;

		select {
			height: 1.2rem;
			width: 100%;

			border: 0;
			border-bottom: 1px solid;
			outline: 0;

			font-size: initial;

			cursor: pointer;

			color: inherit;
			background: inherit;

			* {
				color: $color !important;
				margin: 0.1rem 0.5rem;
			}
		}

		&::before,
		&::after {
			all: unset;
		}

		&[disabled] {
			pointer-events: none !important;
			cursor: default !important;

			color: $muted !important;
			background: rgba($color: $muted, $alpha: 0.1) !important;

			&:hover {
				background: none !important;
			}
		}
	}

	.#{$component} {
		&--label {
			font-size: small;
			margin: 0.1rem;
		}
	}
}
