@mixin select_default_() {
  $component: "ark-select";

  #{$component} {
    display: flex;
    flex-direction: column;
    height: auto;

    select {
      font-size: initial;

      cursor: pointer;

      color: inherit;
      background: inherit;
      border-color: initial;

      width: 100%;

      * {
        color: $color !important;
        background: $background !important;
      }

      &[disabled] {
        pointer-events: none !important;
        cursor: default !important;

        color: $muted !important;
        background: rgba($color: $muted, $alpha: 0.1) !important;

        &:hover {
          background: none !important;
        }
      }
    }

    &::before,
    &::after {
      all: unset;
    }
  }

  .#{$component} {
    &--label {
      font-size: small;
      margin: 0;
      padding: 0;
      width: 100%;
      display: block;
    }
  }
}
