@import "@material/select/mdc-select.scss";

@mixin select-material_() {
  $component: "ark-select";
  $desktop: "960px";

  #{$component} {
    @extend .mdc-select;

    label {
      @extend .mdc-floating-label;

      top: 4px;
      font-size: 15px;
    }

    select {
      @extend .mdc-select__native-control;
    }
  }
}