@mixin select-material_() {
  $component: "ark-select";

  #{$component} {
    border-bottom: 1px solid;
    border-color: inherit;

    select {
      border: 0px;

      &:focus {
        outline: 0;
      }
    }
  }

  .#{$component} {
  }
}
