@mixin drag_default_() {
  $component: "ark-zone-drag";

  #{$component} {
    cursor: grab;

    display: block;

    width: initial;
    height: initial;

    margin: 0;
    padding: 0;

    ark-zone-drop {
      height: auto;
      width: auto;
    }
  }

  .#{$component} {
    &--dragging {
      border: 1px solid rgba($color: $muted, $alpha: .5);
    }

    &--hidden {
      display: none;
    }

    &--enter {
      background: rgba($color: $muted, $alpha: .2);
    }

    &--enter_disabled {
      filter: contrast(0.5);
    }
  }
}