@use './config'as *;
@use '../../../base/theme';

@mixin ark-checkbox() {
  @include theme.paint();

  display: flex;
  cursor: pointer;
  user-select: none;

  &-group {
    @include theme.paint();
    user-select: none;
    width: 100%;
    height: fit-content;

    &__label {
      background: inherit;
      font-size: 1.2;
      margin: 0;
      padding: 5px;
    }
  }

  &__input {
    margin: 0 5px;

    input[type=checkbox] {
      width: 20px;
      height: 20px;
    }
  }

}