@import "@material/floating-label/mdc-floating-label.scss";

@mixin multiselect_material_() {
  $component: "ark-multiselect";

  #{$component} {
    border-bottom: 1px solid;
  }

  .#{$component} {
    &__label {
      @extend .mdc-floating-label;

      color: inherit;
      position: initial;
    }

    &__body {
      // height: 1.2rem;
    }
  }
}
