@mixin audio_default_() {
  $component: "ark-audio";

  #{$component} {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 2.5rem;
    width: 100%;
    overflow: hidden;

    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 5px;

    padding: 0 0.5rem;
    user-select: none;

    background: $background;
    color: $muted;

    * {
      color: inherit;
    }

    [data-toggle-icon-stop] {
      display: none;
    }

    button {
      border: 0;
      outline: 0 !important;
      background: transparent;

      text-align: center;

      margin: 0;
      padding: 0;

      width: 2rem;
      height: 2rem;
    }
  }

  .#{$component} {
    &__recording-time {
      display: flex;
      justify-content: center;
      align-items: center;

      padding-left: 0.5rem;

      label {
        margin: 0;
        margin-left: 1rem;
        padding: 0;
      }
    }

    &--play {
      background: $success !important;
      color: $white !important;

      [slot="microphone"] {
        animation: zoom 1s both infinite;
      }
    }
  }

  @keyframes zoom {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    10% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 1;
    }
    51% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}
