@use 'base/theme';
@use './config'as *;

@mixin ark-accordion {
  display: grid;
  width: 100%;
  border-radius: 5px;
}

@mixin ark-accordion-tab {
  @include theme.paint;
  width:100%;
  border-width: 1px;
  border-style: solid;

  &:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  &:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  &[active] {
    margin-bottom: $margin;

    &~& {
      margin-top: 0;
    }
  }

  &[active]~&:not([active]) {
    margin-top: 0;
    margin-bottom: 0;
  }

  &:not([active])~&[active] {
    margin-top: $margin;
  }

  user-select: none;

  &[disabled] {
    pointer-events: none;
    color: gray;
    background: rgba($color: gray, $alpha: 0.1);
  }

  &__header {
    width: auto;
    height: 2.5rem;

    text-align: left;
    padding-left: 10px;

    font-size: 1.1rem;
    font-weight: 700;

    cursor: pointer;

    display: flex;
    align-items: center;

    user-select: none;

    small {
      all: unset;
    }
  }

  &__content {
    box-sizing: border-box;
    display: none;
    width: 100%;
    padding: 1em;
    position: relative;
  }

  [active] &__content {
    display: block;
  }
}