@use '../../../base/theme';

@mixin ark-table() {
  @include theme.paint;

  width: 100%;
  height: auto;
  display: block;

  table {
    width: 100%;
    max-width: -webkit-fill-available;
    border-collapse: collapse;
    border-style: hidden;
    border: 1px solid #ddd;
    margin: 0.5em 0em;
    
    th,
    td {
      padding: 15px;
      text-align: left;

      border: 1px solid #ddd;
      padding: 8px;

      display: table-cell;
      vertical-align: inherit;
    }

    tr {
      &:not(:first-child) {
      }
      
      th,
      td {
        &:first-of-type {
          padding-left: 24px;
        }
        
        &:last-of-type {
          padding-right: 24px;
        }
        &:hover {
          background-color:var(--light);
          color:var(--dark);
          cursor:pointer;
        }
      }
    }
  
  
  }

  
}
