@mixin button_ark_() {
  $component: "ark-button";

  #{$component} {
    margin: 2px 0;
    display: inline-block;
    width: inherit;

    button,
    a {
      padding: 10px 15px;
      border: 0;
      border-radius: inherit;
    }
  }
}
