@mixin multiselect_default_() {
  $component: "ark-multiselect";

  #{$component} {
    margin: 0 0.1rem;
    position: relative;
    display: block;
  }

  .#{$component} {
    &__label {
      color: inherit;
      font-size: small;
      margin-bottom: 0.1rem;
      height: 0.9rem;
    }

    &__body {
      display: flex;
      align-items: center;
      height: auto;
    }

    &__actions {
      // margin: 0.2rem;
    }

    &__remove-all {
      margin: 0;
      padding: 0;

      width: 1.2rem;
      height: 1.2rem;

      background: none;
      color: inherit;

      font-weight: bolder;

      border: 0;
      outline: 0;

      cursor: pointer;

      &:hover {
        background: rgba($color: $color, $alpha: 0.1);
      }
    }
  }
}
