@mixin multiselect_selected_list_default_() {
  $component: "ark-multiselect-selected-list";

  #{$component} {
    display: flex;
    width: 100%;
    gap: .1rem;
    margin-left: .1rem;
    flex-flow: wrap;

    ark-multiselect-input {
      flex: 1;
    }
  }
}