@mixin tabs-item_default_() {
  $component: "ark-tabs-item";

  #{$component} {
    margin: 0.1rem;

    button,
    a {
      all: unset;

      padding: 0.3rem !important;

      margin: inherit;
      padding: inherit;

      width: auto;
      text-align: center;

      outline: 0 !important;

      ark-icon {
        font-size: 24px;
      }
    }
  }
}
