@mixin tabs_default_() {
  $component: "ark-tabs";

  #{$component} {
    display: flex;
    width: 100%;
    height: auto;

    overflow-x: scroll;

    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
