@import "@material/list/mdc-list.scss";
@import "src/theme/_variables.scss";

@mixin item_material_() {
  $component: "ark-item";

  #{$component} {
    @extend .mdc-list-item;

    width: initial;

    display: flex;
    justify-content: space-between;

    cursor: pointer;
  }

  #{$component},
  .general,
  .end {
    display: inline-flex;

    &>:not(:first-child) {
      margin-left: 5px;
    }
  }
}