@import "@material/list/mdc-list.scss";
// @import "../../../../theme/_variables.scss";

@mixin item_material_() {
  $component: "ark-list-item";

  #{$component} {
    @extend .mdc-list-item;

    width: initial;
    cursor: pointer !important;
    display: table;
  }
}