@mixin modal_ark_() {
  $component: "ark-modal";
  $background: rgba($color: #ffff,
    $alpha: 1) !important;
  $color: rgba(0, 0, 0, 0.87) !important;
  $border: 1px solid rgba($color: #000,
    $alpha: 0.3);
  $mobile: 360px;
  $desktop: 960px;

  #{$component} {
    display: block;
    color: $color;

    // ----------------------------------------
    // hidden
    // ----------------------------------------
    &[hidden] {
      display: none !important;
    }
  }

  .#{$component} {
    &__content {
      $margin: 15px;
      $width: calc(#{$mobile} - (#{$margin} * 2));

      width: $width;
      position: fixed;
      left: calc(50% - (#{$mobile} / 2)) !important;
      top: 0;

      background: rgba($color: #ffff, $alpha: 1);
      border: $border;

      margin: 15px;
      overflow: hidden;

      &>* {
        padding: 15px;
      }

      > :not(:last-child) {
        border-bottom: $border;
      }

      @media only screen and (min-width: $desktop) {
        &[lg] {
          $width: calc(#{$desktop} - (#{$margin} * 2));
          left: calc(50% - (#{$desktop} / 2)) !important;
          width: $width;
        }
      }
    }

    &__header {
      width: 100%;
      overflow: hidden;
    }

    &__title {}

    &__icon-close {
      $size: 30px;

      position: absolute;
      top: 0;
      right: 0;

      button {
        background: none;
        border: 0;

        cursor: pointer;

        width: $size;
        height: $size;

        font-size: 28px;
        opacity: 0.5;
      }
    }

    &__body {
      display: block;
      width: 100%;
      overflow: hidden;
    }

    &__actions {
      display: flex;
      justify-content: flex-end;
      padding: 0 15px;

      &> :not(:last-child) {
        margin-right: 10px;
      }
    }

    &__scrim {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
    }
  }
}