@mixin modal_ark_() {
  $component: "ark-modal";

  $border: 1px solid
    rgba(
      $color: #000,
      $alpha: 0.3
    );

  #{$component} {
  }

  .#{$component} {
    &__content {
      & > :not(:first-child) {
        border-top: 0px;
      }
    }

    &__header {
      padding: 0.5rem;
      border: $border;
    }

    &__body {
      padding: 0.5rem;
      border: $border;
    }

    &__actions {
      padding: 0.5rem;
      border: $border;
    }
  }
}
