@mixin table_ark_() {
  $component: "ark-table";

  #{$component} {
    display: block;

    table {
      width: 100%;
      border-collapse: collapse;
      border-style: hidden;

      &,
      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
      }

      th,
      td {
        padding: 15px;
        text-align: left;

        border: 1px solid #ddd;
        padding: 8px;
      }

      tr {
        &:not(:first-child) {
          &:hover {
            background-color: #ddd;
          }
        }
      }
    }
  }
}
