@import "@material/button/mdc-button.scss";
@import "@material/fab/mdc-fab";
@import "@material/dialog/mdc-dialog.scss";

@mixin alert_material_() {
  $component: "ark-alert";

  #{$component} {
    button,
    a {
      @extend .mdc-button;
      @extend .mdc-button__label;

      color: inherit !important;
      width: inherit;

      &[disabled] {
        cursor: default !important;
        color: gray !important;
        background: rgba($color: gray, $alpha: 0.1) !important;

        &:hover {
          background: none !important;
        }
      }
    }
  }

  .#{$component} {
    &__content {
      border-radius: 5px;
    }
  }
}
