@mixin button_default() {
  $component: "ark-button";
  $fab-size: 56px;

  #{$component} {

    display: inline-block;

    button,
    a {
      cursor: pointer;
      color: inherit !important;
      background: inherit !important;
      // border: inherit !important;

      width: -webkit-fill-available;
      height: inherit;

      // display: contents;
      display: block;

      margin: auto;
      padding: initial;

      text-align: center;
      // font-size: initial;
      // font-family: inherit;
      // text-decoration: inherit;

      &[disabled] {
        cursor: default !important;
        color: gray !important;
        background: rgba($color: gray, $alpha: .1) !important;

        &:hover {
          background: none !important;
        }
      }

    }

    //----------------------------------------
    // Fab
    // ----------------------------------------
    &[fab] {
      z-index: 1024;

      border-radius: 50%;
      width: $fab-size !important;
      height: $fab-size !important;

      min-width: $fab-size !important;
      min-height: $fab-size !important;
    }

    //----------------------------------------
    // position
    // ----------------------------------------
    [horizontal],
    [vertical] {
      position: fixed !important;
    }

    // ----------------------------------------
    // horizontal
    // ----------------------------------------
    [horizontal~="center"] {
      left: calc(50% - (#{$fab-size} / 2));
    }

    [horizontal~="start"] {
      left: calc((#{$fab-size} / 3));
    }

    [horizontal~="end"] {
      right: calc((#{$fab-size} / 3));
    }

    // ----------------------------------------
    // vertical
    // ----------------------------------------
    [vertical~="center"] {
      top: calc(50% - (#{$fab-size} / 2));
    }

    [vertical~="start"] {
      top: calc((#{$fab-size} / 2));
    }

    [vertical~="end"] {
      bottom: calc((#{$fab-size} / 3));
    }
  }
}