@mixin button_default() {
  $component: "ark-button";
  $fab-size: 56px;

  #{$component} {
    display: inline-block;

    button,
    a {
      cursor: pointer;
      color: inherit !important;
      background: inherit !important;

      width: -webkit-fill-available;
      height: inherit;

      display: flex;

      margin: auto;
      padding: initial;

      text-align: center;
    }

    &:hover,
    &:active,
    &:focus {
      * {
        filter: brightness(110%);
        background: inherit !important;
        color: inherit !important;
      }
    }

    //----------------------------------------
    // Fab
    // ----------------------------------------
    &[fab] {
      z-index: 1024;
      position: fixed !important;

      border-radius: 50% !important;
      width: $fab-size !important;
      height: $fab-size !important;

      min-width: $fab-size !important;
      min-height: $fab-size !important;
    }

    // ----------------------------------------
    // horizontal
    // ----------------------------------------
    &[horizontal~="center"] {
      left: calc(50% - (#{$fab-size} / 2));
    }

    &[horizontal~="start"] {
      left: calc((#{$fab-size} / 3));
    }

    &[horizontal~="end"] {
      right: calc((#{$fab-size} / 3));
    }

    // ----------------------------------------
    // vertical
    // ----------------------------------------
    &[vertical~="center"] {
      top: calc(50% - (#{$fab-size} / 2));
    }

    &[vertical~="start"] {
      top: calc((#{$fab-size} / 2));
    }

    &[vertical~="end"] {
      bottom: calc((#{$fab-size} / 3));
    }

    [disabled] {
      pointer-events: none !important;
      cursor: default !important;
      color: gray !important;
      background: rgba($color: gray, $alpha: 0.1) !important;

      &:hover {
        background: none !important;
      }
    }
  }
}