@mixin signature_default_() {
  $component: "ark-signature";

  #{$component} {
    display: block !important;
    height: 100%;
    width: 100%;
  }

  .#{$component} {
    &--pad {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
