@mixin signature_default_() {
  $component: "ark-signature";

  #{$component} {
    display: table;
    height: 100%;
    width: 100%;
  }

  .#{$component} {
    &--pad {
      display: block;
      height: inherit;
      width: inherit;
    }
  }
}
