@mixin accordion_tab_ark_() {
  $component: "ark-accordion-tab";
  $mobile: 360px;
  $tablet: 768px;
  $desktop: 960px;

  #{$component} {
    display: block;
    width: 100%;
  }

  .#{$component} {
    &__btn-header {
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;

      &:hover {
        background-color: #ccc;
      }
    }
  }
}