@use './config';
@use '../../../base/theme';

@mixin ark-tooltip() {
    @include theme.paint;

    position: relative;
    display: inline-block;

    &:hover .ark-tooltip__text {
        visibility: visible;
        opacity: 1;
    }

    .ark-tooltip {
        &__text {
            visibility: hidden;
            width: 120px;
            background-color: #555;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;

            position: absolute;
            z-index: 1;

            opacity: 0;
            transition: opacity 0.3s;

            user-select: none;
        }

        &__top {
            bottom: 125%;
            left: 50%;
            margin-left: -60px;
        }

        &__right {
            top: -5px;
            left: 125%;
        }

        &__bottom {
            top: 135%;
            left: 50%;
            margin-left: -60px;
        }

        &__left {
            top: -5px;
            bottom: auto;
            right: 128%;
        }

    }
}