@use './variables';

@mixin paint() {
  background: var(--canvas, white);
  color: var(--ink, black);

  @each $color in variables.$colors {
    &[background=#{$color}] {
      background: var(--#{$color}, black);
      color: white;
    }

    &#{&}[color=#{$color}] {
      color: var(--#{$color}, white);
    }
  }
}

@mixin round(){

  border-radius: var(--xs, 4px);
  @each $size in variables.$sizes {
    &[round=#{$size}]{
      border-radius: var(--#{$size}, 4px);
    }
  }
}
