$canvas: var(--canvas, white);
$ink: var(--ink, black);

$primary: var(--primary, black);
$secondary: var(--secondary, black);
$danger: var(--danger, black);
$warning: var(--warning, black);
$info: var(--info, black);
$dark: var(--dark, black);
$muted: var(--muted, black);
$light: var(--light, black);

$xs: var(--xs, 0.3rem);
$sm: var(--sm, 0.8rem);
$md: var(--md, 1rem);
$lg: var(--lg, 2rem);
$xl: var(--xl,3rem);


$colors: primary, secondary, success, danger,
  warning, info, dark, muted, light;


$sizes: xs, sm, md, lg, xl;

$desktop: 960px;
$tablet: 768px;
$mobile: 480px;
