// Colors
$primary: #007BFF !default;
$secondary: #6C757D !default;
$success: #28A745 !default;
$danger: #DC3545 !default;
$warning: #FFC107 !default;
$info: #17A2B8 !default;
$dark: #343A40 !default;
$muted: #6c757d !default;
$light: #F8F9FA !default;
$white: #FFFFFF !default;

// Background
$background: #FFFFFF !default;
$color: #000000 !default;

// Devices
$desktop: 960px;
$tablet: 768px;
$mobile: 360px;
