$canvas: var(--canvas, white);
$ink: var(--ink, black);

$primary: var(--primary, black);
$secondary: var(--secondary, black);
$danger: var(--danger, black);
$warning: var(--warning, black);
$info: var(--info, black);
$dark: var(--dark, black);
$muted: var(--muted, black);
$light: var(--light, black);

$colors: primary, secondary, success, danger,
  warning, info, dark, muted, light;

$desktop: var(--desktop, 960px);
$tablet: var(--tablet, 768px);
$mobile: var(--mobile, 480px);
