@mixin chart_default() {
  $component: "ark-chart";
  $mobile: 360px;
  $tablet: 768px;
  $desktop: 960px;

  #{$component} {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;

    canvas {
      max-width: -webkit-fill-available;
      padding: 5px;
      position: relative;
    }
  }
}