@mixin input_ark_() {
  $component: "ark-input";
  $mobile: 360px;
  $tablet: 768px;
  $desktop: 960px;

  #{$component} {
  }

  .#{$component} {
    &__label {
      display: grid;

      font-weight: bold;
      color: rgba($color: #000000, $alpha: 0.7);

      [required] {
        color: rgba($color: #000000, $alpha: 1);
      }
    }

    &__input {
      input {
        width: 100%;
        padding: 12px 20px;
        margin: 0;
        box-sizing: border-box;
        border: 1px solid rgba($color: #555, $alpha: 0.5);
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;

        &:focus {
          border: 1px solid rgba($color: #555, $alpha: 1);
        }

        &[required] {
          border: 1px solid rgba($color: #555, $alpha: 0.8);
        }
      }
    }

    &__alert {
      * {
        display: grid;

        margin: 0 !important;
        margin-top: 5px !important;
        padding: 0 !important;

        color: rgba($color: #000000, $alpha: 0.7);
      }
    }
  }
}
