@mixin alert_() {
  $component: "ark-alert";
  $mobile: 360px;
  $desktop: 960px;

  $background: rgba($color: #ffff, $alpha: 1);

  $border: 1px solid rgba($color: #000, $alpha: 0.1);

  #{$component} {
    $margin: 15px;
    $width: calc(#{$mobile} - (#{$margin} * 2));

    display: block;
    margin: $margin;

    background: $background;
    border: $border;

    width: $width;
    max-width: $mobile;

    // ----------------------------------------
    // hidden
    // ----------------------------------------
    &[hidden] {
      display: none !important;
    }

    // ----------------------------------------
    // position
    // ----------------------------------------
    &[horizontal],
    &[vertical] {
      position: fixed;
    }

    // ----------------------------------------
    // horizontal
    // ----------------------------------------
    &[horizontal~="center"] {
      left: calc(50% - (#{$mobile} / 2)) !important;
    }

    &[horizontal~="start"] {
      left: 0 !important;
    }

    &[horizontal~="end"] {
      right: 0 !important;
    }

    // ----------------------------------------
    // vertical
    // ----------------------------------------
    &[vertical~="center"] {
      top: calc(50% - (100% / 3)) !important;
    }

    &[vertical~="start"] {
      top: 0 !important;
    }

    &[vertical~="end"] {
      bottom: 0 !important;
    }
  }

  .#{$component} {
    &__body {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      position: relative;
    }

    &__content {
      width: 100%;
      overflow: hidden;
    }

    &__icon-close {
      $size: 30px;

      position: absolute;
      top: 0;
      right: 0;

      button {
        background: none;
        border: 0;

        cursor: pointer;

        width: $size;
        height: $size;

        img {
          opacity: 0.5;
        }
      }
    }

    &__actions {
      display: flex;
      justify-content: flex-end;
      padding: 0 15px;

      &> :not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}