@import "../../../button/main.scss";

@mixin alert_ark_() {
  $component: "ark-alert";

  #{$component} {}

  .#{$component} {
    &__header {
      margin-bottom: 0.5rem;
    }

    &__title {
      margin-bottom: 0.5rem;
    }

    &__actions {
      @extend ark-button;

      display: flex;
      justify-content: flex-end;

      button {
        margin: 0.1rem !important;
      }
    }
  }
}