@use './config';
@use '../../../base/theme';

@mixin ark-paginator() {
  @include theme.paint;

  &__body {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
  }

  &__footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;

    small[data-info] {
      color: var(--primary);
    }
  }

  &__buttons {
    margin: 10px;

    //Buttons
    button {
      width: 1.8rem;
      height: 1.8rem;
      border: 0;
      margin: 0.1rem;
      background: inherit;
    }

    button:focus {
      outline: none;
    }

    button:active {
      border: 1px solid black;
    }

    button[on-click='_prev'],
    button[on-click='_next'] {
      border: 2px solid rgba(128, 128, 128, 0.411);
      background: white;
    }

    button[on-click='_first'],
    button[on-click='_last'] {
      border: 2px solid rgba(128, 128, 128, 0.411);
      background: white;
    }
  }

  &__pages {
    display: grid;
    grid-auto-flow: column;

    button {
      min-width: 1.8rem;
      width: 1.8rem;
      min-height: 1.8rem;
      height: 1.8rem;
      border: 1px solid var(--primary, black);
      margin: 0.1rem;
      text-align: center;

      &:focus {
        outline: none;
      }

      &[active] {
        background: var(--primary, blue);
        color: white;
      }
    }
  }
}
