@mixin radio-group_default_() {
  $component: "ark-radio-group";

  #{$component} {
    user-select: none;
  }

  .#{$component} {
    &__label {
      * {
        font-size: small;
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
      }
    }
  }
}