@mixin radio-button_default_() {
  $component: "ark-radio-button";

  #{$component} {
    cursor: pointer;
    display: flex;
    user-select: none;
  }

  .#{$component} {
    &__button {
      margin: 0 5px;
    }
  }
}