@mixin button_default_() {
  $component: "ark-button";
  $fab-size: 2.8rem;

  #{$component} {
    padding: 0;
    margin: 0.1rem;

    cursor: pointer;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: inherit !important;
    background: inherit !important;

    min-width: max-content;

    button,
    a {
      all: unset;

      height: inherit !important;
      width: inherit !important;

      color: inherit;
      background: inherit;

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    &:hover,
    &:active,
    &:focus {
      filter: brightness(110%);
    }

    // //----------------------------------------
    // // Fab
    // // ----------------------------------------
    &[fab] {
      &,
      & > * {
        border-radius: 50%;
        width: $fab-size !important;
        height: $fab-size !important;

        padding: 0.2rem !important;
        margin: 0 !important;

        z-index: 1024;
        position: fixed !important;

        min-width: $fab-size !important;
        min-height: $fab-size !important;
      }
    }

    // ----------------------------------------
    // horizontal
    // ----------------------------------------
    &[horizontal~="center"] {
      left: calc(50vw - (#{$fab-size} / 2));
    }

    &[horizontal~="start"] {
      left: calc((#{$fab-size} / 3));
    }

    &[horizontal~="end"] {
      right: calc((#{$fab-size} / 3));
    }

    // ----------------------------------------
    // vertical
    // ----------------------------------------
    &[vertical~="center"] {
      top: calc(50vh - (#{$fab-size} / 2));
    }

    &[vertical~="start"] {
      top: calc((#{$fab-size} / 3));
    }

    &[vertical~="end"] {
      bottom: calc((#{$fab-size} / 3));
    }

    // ----------------------------------------
    //  Disabled
    // ----------------------------------------

    &[disabled] {
      pointer-events: none !important;
      cursor: default !important;
      color: gray !important;
      background: rgba($color: gray, $alpha: 0.1) !important;

      &:hover {
        background: none !important;
      }
    }

    &::before,
    &::after {
      all: unset;
    }
  }
}
