@mixin navbar_nav_item() {
    $component: 'ark-navbar-nav-item';

    #{$component} {
        padding: 0 5px;

        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
    }

    .#{$component} {}
}