@mixin navbar_nav() {
    $component: 'ark-navbar-nav';
    $desktop: "960px";

    #{$component} {
        display: flex;

        * {
            height: 48px;
            width: auto;

            display: flex;
            justify-content: center;
            align-items: center;

            border: 0px;

            cursor: pointer;
        }

        button {
            background: none;
        }

        >* {
            &:hover {
                background: rgba(0, 0, 0, 0.3);
            }

            padding: 0 5px;
        }

        @media only screen and (min-width: $desktop) {
            [data-ark-navbar-toggle] {
                display: none;
            }
        }
    }

    .#{$component} {}
}