$desktop: "960px";

@mixin grid_ark_() {
  $component: "ark-grid";

  #{$component} {
    width: inherit;
    height: inherit;

    &[no-gutters] {
      grid-gap: 0 !important;
      padding: 0 !important;

      ark-grid-item {
        padding: 0 !important;
        max-height: 100%;
      }
    }
  }
}