@mixin list_default_() {
  $component: "ark-list";

  #{$component} {
    display: flex;
    flex-direction: column;

    &[action] {
      ark-list-item {
        &:hover() {
          background: rgba($color: $primary, $alpha: 0.3);
        }
      }
    }

    &[grid] {
      display: flex;
      flex-direction: column;
      flex-flow: wrap;
      justify-content: space-around;
    }
  }
}