@mixin list_item_default_() {
  $component: "ark-list-item";

  #{$component} {
    cursor: pointer;

    padding: 0.5rem;

    &:active {
      background: rgba($color: $muted, $alpha: 0.3);
    }

    &[click-disabled] {
      &:hover,
      &:focus,
      &:active,
      &::after,
      &::before {
        background-color: transparent !important;
        background: transparent !important;
        cursor: default !important;
      }
    }
  }
}
