@mixin splitview_master_default() {
  $component: "ark-splitview-master";

  #{$component} {
    display: block;
    width: 50%;
    overflow: auto;
    height: inherit;

    &[resize] {
      resize: horizontal;
    }
  }
}