@mixin splitview_master_default() {
  $component: "ark-splitview-master";
  $mobile: 360px;
  $tablet: 768px;
  $desktop: 960px;

  #{$component} {
    display: block;
    width: 100%;
    overflow: auto;
    height: inherit;
  }
}