@mixin splitview_default_() {
  $component: "ark-splitview";

  #{$component} {
    display: flex;

    width: 100%;
    height: 100%;

    z-index: auto;
    background: $background;
  }

  @media only screen and (max-width: $tablet) {

    ark-splitview-master,
    ark-splitview-detail {
      width: 100% !important;
      max-width: 100% !important;
      min-width: 100% !important;
    }
  }
}