@use 'base/theme';
@use './config' as *;

@mixin ark-nav() {
  @include theme.paint;

  background: inherit;
  color: inherit;
  min-height: 3rem;
  overflow: hidden;

  display: grid;
  grid-auto-flow: column;
  place-content: center space-around;
  align-items: center;

  grid-column: 1 / 3;

  &[brand] {
    grid-area: brand;
    justify-content: start;
  }

  &[toggler] {
    grid-area: toggler;
    justify-content: end;
  }

  &[collapse] {
    display: none;
    height: auto;
  }
}

@mixin ark-navbar() {
  @include theme.paint;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: 'brand toggler';

  user-select: none;

  &[justify='center'] {
    justify-content: center;
  }

  &[justify='end'] {
    justify-content: flex-end;
  }

  &[justify='between'] {
    justify-content: space-between;
  }

  &[fixed-top] {
    position: fixed;
    top: 0;
    left: 0;
  }
}
