@use '../../../base/theme';
@use './config';

@mixin ark-multiselect() {
  //@include theme.paint;

  .ark-multiselect {
    display: inline-block;
    position: relative;
    box-sizing: content-box;
    width: 100%;


    &__field {
      min-width: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      flex-grow:1;
      padding: 0.5em;

      overflow: hidden;
      border: 1px solid var(--light);
      border-radius: .2em;
      cursor: pointer;
      -webkit-user-select: none;
      user-select: none;

  
      &:focus {
        border: 2px solid var(--primary);
        outline: none;
      }

      input {
        width: 100%;

        //align-self: flex-start;
        flex: 1 1;
        padding: 0.5em;
        border:none;
        outline:none;
        background: transparent;
        //border: 2px solid rgba(50, 100, 255, 0.5);
        //border-radius: .2em;
        margin: .2em .2em;

      }

    }

    &__tag {
      position: relative;
      display: inline-block;
      padding: .25em 1.5em .25em .5em;
      border: 1px solid #bdbdbd;
      border-radius: .2em;
      margin: .2em;
      line-height: 1;
      vertical-align: middle;
    }

    &__tag:last-child {
      margin-right: 0;
    }

    &__tag:hover {
      background: #efefef;
    }

    &__tag-text {
      min-height: 1em;
    }

    &__tag-remove-button {
      position: absolute;
      top: .25em;
      right: .25em;
      width: 1em;
      height: 1em;
      opacity: 0.3;
    }

    &__tag-remove-button:hover {
      opacity: 1;
    }

    &__tag-remove-button:before,
    &__tag-remove-button:after {
      content: ' ';
      position: absolute;
      left: .5em;
      width: 2px;
      height: 1em;
      background-color: #333;
    }

    &__tag-remove-button:before {
      transform: rotate(45deg);
    }

    &__tag-remove-button:after {
      transform: rotate(-45deg);
    }

    &__popup {
      //position: absolute;
      display: none;
      overflow-y: auto;
      width: 100%;
      max-height: 300px;
      box-sizing: border-box;
      border: 1px solid var(--light);
      border-radius: .2em;
      background: white;
    }
    
    &-list {
      padding: 0;
      margin: 0;

      &__no-options{
          pointer-events: none;
          user-select: none;
      }
      ul {
        margin: 0;
        padding: 0;
      }
  
      li {
        padding: .5em 1em;
        min-height: 1em;
        list-style: none;
        cursor: pointer;
      }
  
      li[selected] {
        background: #f3f3f3;
      }
  
      li:focus,
      li:hover {
        outline: dotted 1px var(--dark);
        background: var(--primary);
        color: var(--light);
      }
    }

  }
}