@mixin select_() {
  $component: "ark-select";
  $desktop: "960px";

  #{$component} {
    p {
      margin: 5px 0;
    }

    select {
      width: 100%;
      font-size: unset;
      padding: 5px;

      @media only screen and (min-width: $desktop) {
        width: auto;
      }
    }
  }
}