@mixin paginator_ark_() {
  $component: "ark-paginator";

  #{$component} {
  }

  .#{$component} {
    &__default-buttons,
    &__button-list {
      & button {
        border-radius: 50%;
        width: 1.8rem;
        height: 1.8rem;
        border: 0;
        margin: 0.1rem;
        background: inherit;
      }
    }
  }
}
