@mixin sidebar_ark_() {
  $component: "ark-sidebar";

  $border: 1px solid rgba(0, 0, 0, 0.2);

  #{$component} {
    display: none;
    width: 100vw;
    height: 100vh;

    position: fixed !important;
    left: 0;
    top: 0;
    z-index: 1024;
  }

  .#{$component} {
    &__menu {
      background: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 304px;
      min-width: 304px;
      height: 100vh;
    }

    &__header,
    &__footer {
      padding: 15px;
    }

    &__header {
      border-bottom: $border;
    }

    &__footer {
      border-top: $border;
    }

    &__scrim {
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
    }

    &--opened {
      display: flex;
    }
  }
}
