@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";

// @import '../../../../theme/_variables.scss';

@mixin tabs-item_material_() {
  $component: "ark-tabs-item";
  $desktop: "960px";

  #{$component} {

    width: 100%;

    button,
    a {
      @extend .mdc-tab;
      width: 100%;

      &>:not(:first-child) {
        margin-left: 5px;
      }

      &:hover {
        background: rgba($color: $muted, $alpha: .2);
        border-bottom: 3px solid rgba(0, 0, 0, 0.5);
      }
    }

    ark-icon {
      font-size: 24px;
    }

    &[active]>* {
      color: $primary !important;
      border-bottom: 3px solid $primary;
    }
  }
}