@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";

@mixin tabs_material_() {
  $component: "ark-tabs";
  $desktop: "960px";

  #{$component} {
    @extend .mdc-tab-bar;
    @extend .mdc-tab-scroller;
    // @extend .mdc-tab-scroller__scroll-area;
    @extend .mdc-tab-scroller__scroll-content;
    justify-content: space-between;
  }
}