@mixin input_default_() {
  $component: "ark-input";

  #{$component} {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0.1rem;

    &[disabled] {
      pointer-events: none !important;
      cursor: default !important;

      color: $muted !important;
      background: rgba($color: $muted, $alpha: 0.1) !important;

      &:hover {
        background: none !important;
      }
    }

    &::before,
    &::after {
      all: unset;
    }
  }

  .#{$component} {
    &__label {
      &>* {
        font-size: small;
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
      }
    }

    &__input {
      input {
        font-size: initial;

        color: inherit;
        background: inherit;
        border-color: initial;

        width: 100%;

        * {
          color: $color !important;
          background: $background !important;
        }

        &:focus {
          outline: 1px solid rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}