@mixin input_default_() {
  $component: "ark-input";
  $mobile: 360px;
  $tablet: 768px;
  $desktop: 960px;

  #{$component} {
    display: block;

    > div {
      display: block;
      margin: 5px 0;
    }
  }

  .#{$component} {
    &__type-hidden {
      display: none;
    }

    &__label {
      height: 0.9rem;
    }
  }
}
