@mixin paginator_default_() {
  $component: "ark-paginator";

  #{$component} {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    padding: 1rem 0;

    user-select: none;

    button {
      cursor: pointer;

      &:focus {
        outline: 0px;
      }
    }
  }

  .#{$component} {
    &__body {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 0;
    }

    &__default-buttons,
    &__button-list {
      display: flex;
    }

    &__button-list {
      [active] {
        background: $primary !important;
        color: $white !important;
      }
    }

    &__footer {}
  }
}