@use '../../../base/theme';

@mixin ark-tabs() {
  @include theme.paint;

  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;

  overflow-x: scroll;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  user-select: none;
  
  
  &::-webkit-scrollbar {
    display: none;
  }
  
  // item
  &-item {
    cursor: pointer;
    padding: 0.5rem;

    &[active]{
      @include theme.paint;
    }
    
    &:hover {
      opacity: 0.8;
    }
    
    
    
    button,
    a {
      all: unset;
      
      padding: 0.3rem;
      
      margin: inherit;
      padding: inherit;
      
      width: auto;
      text-align: center;

      outline: 0;
      
      
      ark-icon {
        font-size: 24px;
      }
    }
    
    
  }


}