@mixin card_ark_() {
  $component: "ark-card";

  #{$component} {
    display: block;
    background: inherit;
    color: inherit;

    width: inherit;

    border: 1px solid rgba($color: $muted, $alpha: 0.3);

    margin: 10px;

    & > * {
      padding: 10px;
    }
  }

  .#{$component} {
    &__media {
      padding: 0 !important;
      overflow: hidden;

      max-height: 20rem;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
      }
    }

    &__title {
      margin: 0;
      padding: 0;
    }
  }
}
