@mixin dragdrop_ark_() {
  $component: "ark-dragdrop";
  $mobile: 360px;
  $tablet: 768px;
  $desktop: 960px;

  #{$component} {
    display: block;

    min-height: 48px;
    min-width: 48px;

    &[droppable] {
      height: 100%;
      max-height: 100% !important;

      width: 100%;
      max-width: 100%;

      overflow: auto;
    }

    &[draggable] {
      border: 2px solid;
      padding: 0;
      overflow: auto;
      cursor: grab;
    }

    &[direction~="column"] {
      display: flex;
      flex-direction: column;
    }

    &[direction~="row"] {
      display: flex;
      flex-direction: row;
    }
  }

  .#{$component} {
    &--dragging {
      background: blue;
    }

    &--hidden {
      display: none;
    }

    &--enter {
      background: red;
      border: 1px solid;
    }

    &--hover {
      background: green;
    }
  }
}