@use '../../../base/theme';
@use '../../../base/theme/variables';

@mixin ark-splitview() {
  background: var(--light, black);
  color: dark;

  @each $color in variables.$colors {
    &[background=#{$color}] {
      background: var(--#{$color}, black);
      color: white;
    }

    &#{&}[color=#{$color}] {
      color: var(--#{$color}, white);
    }
  }

  display: grid;
  grid-template-columns: none;
  width: 100%;
  height: 100%;
  
  @media (min-width: theme.$mobile) {
        grid-template-columns: repeat(2, 1fr);
    }

  &>*:first-child {
    border-right: 2px solid rgba($color: gray, $alpha: 0.3);
  }

  /*MASTER*/
  &-master {
    position: relative;
    width: 100%;
    overflow: auto;
    height: inherit;

    @media (min-width: theme.$mobile) {
      &[resize] {
        resize: horizontal;
      }
    }
  }

  /*DETAIL*/
  &-detail {
    background: inherit;

    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100vw;
    height: 100vh;

    &[hidden] {
      display: none;
      visibility: hidden;
    }

    &>* {
      overflow: auto;
    }

    &__header {
      background: inherit;
      color: inherit;

      display: flex;
      width: 100%;
      height: fit-content;
      font-size: initial;

      padding: 0.5rem;
      border-bottom: 2px solid rgb(206, 204, 204);

      user-select: none;

      button {
        margin-right: 0.5rem;
      }

      button:hover {
        background: rgb(222, 223, 228);
      }
    }

    &__close {
      display: block;

      padding: 0 19px;
      border: 0;
      outline: 0;

      background: inherit;
      color: inherit;
      cursor: pointer;
    }

    &__title {
      display: flex;
      align-items: center;
      font-size: larger;
    }

    &__body {
      height: 100%;
      padding: 1rem;
      overflow: auto;
    }

    &__main {
      height: 100%;
      padding: 1rem;
    }

    &__default-template {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      color: gray;

      background: rgba($color: gray, $alpha: 0.1);

    }

    @media (min-width: theme.$mobile) {
      .ark-splitview {
        grid-template-columns: none;
      }
      & {
        overflow: auto;
        position: initial;
        width: 100%;
        height: auto;

        height: initial;

        padding-top: 0;

        &[hidden] {
          display: block;
          visibility: visible;
        }

        &__header {
          display: none;
        }

        &__button--close {
          display: none;
        }

        &__title {
          margin-left: 20px;
        }
      }
    }
  }
}
