@use 'sass:string';
@use 'base/theme';
@use './config'as *;

@mixin ark-button() {
  @include theme.round;
  user-select: none;
  cursor: pointer;

  display: inline-grid;

  transition: background 0.5s;

  @each $color in theme.$colors {
    &[background="#{$color}"] {
      $tone: var(--#{$color}, black);
      background: $tone
        radial-gradient(circle, transparent 1%, $tone 1%)
        center/15000%;
      color: white;
    }

    &[outline="#{$color}"] {
      border: 2px solid var(--#{$color}, black);
    }

    &#{&}[color="#{$color}"] {
      color: var(--#{$color}, white);
    }
  }

  &:active {
    background-color: silver;
    background-size: 100%;
    transition: background 0s;
  }

  &__button {
    position: absolute;
    all: unset;

    display: grid;
    grid-auto-flow: column;
    align-items: center;

    width: 100%;
    height: 100%;
    color: inherit;
    background: inherit;

    &[fab]{
      display: flex;
      justify-content: center;
    }

    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
  }

  ark-icon {
    font-size: 1.2rem;
    padding: 0.3rem;
  }

  &:hover {
    filter: contrast(120%) brightness(80%);
  }

  // Fab
  $fab-size-small: 2rem; 
  $fab-size-medium: 2.5rem; 
  $fab-size-big: 3rem; 

  &[fab] {
    position: relative;
    border-radius: 50%;
    width: $fab-size-big;
    height: $fab-size-big;

    padding: 0.2rem;
    margin: 0;

    min-width: $fab-size-big;
    min-height: $fab-size-big;

    ark-icon {
      padding: 0;
      display: grid;
      i {
        vertical-align: middle;
      }
    }
  }



  // Horizontal

  &[horizontal="center"] {
    left: calc(50% - (#{$fab-size-big} / 2));
  }

  &[horizontal="start"] {
    left: calc((#{$fab-size-big} / 3));
  }

  &[horizontal="end"] {
    right: calc((#{$fab-size-big} / 3));
  }

  // Vertical
  &[vertical="center"] {
    top: calc(50% - (#{$fab-size-big} / 2));
  }

  &[vertical="start"] {
    top: calc((#{$fab-size-big} / 3));
  }

  &[vertical="end"] {
    bottom: calc((#{$fab-size-big} / 3));
  }

  // Disabled
  &[disabled] {
    cursor: default;
    pointer-events: none;
    color: gray;
    background: rgba($color: gray, $alpha: 0.1);
  }

  &[size="small"] {
      width: $fab-size-small;
      height: $fab-size-small;
      min-width: $fab-size-small;
      min-height: $fab-size-small;

      ark-icon {
      padding: 0;
      display: grid;
      i {
        vertical-align: middle;
        font-size: medium;
      }
    }
  }
  
  &[size="medium"] {
    width: $fab-size-medium;
    height: $fab-size-medium;
    min-width: $fab-size-medium;
    min-height: $fab-size-medium;

    ark-icon {
    padding: 0;
    display: grid;
    i {
      vertical-align: middle;
      font-size: large;
    }
  }
  }
  
  &[size="big"] {
      width: $fab-size-big;
      height: $fab-size-big;
      min-width: $fab-size-big;
      min-height: $fab-size-big;
  }
}
