@use './shared.scss';

.ark-button {
  @include shared.ark-button;
  box-sizing: border-box;
  padding: 0.2rem 0.8rem;
  font-size: 1.05rem;
  vertical-align: middle;
  &[fab] {
    position: absolute;
  }
}
