@use '@material/feature-targeting/feature-targeting';
@use '@material/button/variables';
@use '@material/button/mixins';
@use '@material/fab/mixins' as fab-mixins;
@use './shared.scss';

$query: feature-targeting.all();

.ark-button {
  @include shared.ark-button;

  @include mixins.base_($query);
  @include mixins.shape-radius(variables.$shape-radius, $query: $query);
  @include mixins.density(variables.$density-scale, $query: $query);

  &[fab] {
    @include fab-mixins.base_($query: $query);
    @include fab-mixins.icon-size(24px, $query: $query);
  }
}
